nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins' , sans-serif;
    font-weight: 400;
}
.nav-itens{
    list-style: none;
    display: flex;
    margin-top: 15px;

}
.nav-itens>li>a {
    padding-left: 30px;
    color: #fff;
    text-decoration: none;

}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0DA0C0;
    height: 70px;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
 }
 
 .socials img {
    position: relative;
    right: 400px;
}
.socials a i{
    position: relative;
    font-size: 1.5rem;
    transition: color .4s ease;
    right: 95px;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #0DA0C0;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

 /* pagina de registro */

.form {
    top: 130px;
    position: relative;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
    width: 700px;
    height: 900px; 
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(91, 214, 240);
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #0DA0C0;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #0DA0C0;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #0DA0C0;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
input{
    background-color: #eee;
    margin: none;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eee;
}

.input-box input::placeholder {
    color: #333;
}

.continue-button button {

    width: 100%;
    margin-top: 0.8rem;
    border: none;
    background-color: #0DA0C0;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    
}

.continue-button button:hover {
    background-color: #25c9ee;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
}

#endereco{
width: 400px;
}